body{
  font-family: Georgia;
  color: #005200;
  background-color: #878787;
}
a{
  color: #005200
}

.header img{
  float: top;
  margin-left: 220px;
}

.tabs{
  padding-right: none;
  margin-right: none;
}
.tabs li{
  border: solid 1px #C4C4C4;
  border-radius: 10px;
  font-size: 15px;
  background-color: #D9D9D9;
}
.bottomtabs{
  margin-left: 250px;
  padding-right: none;
}

.information{
  background-color: #D9D9D9;
  padding: 20px;
  border-radius: 20px;
}
