body{
  font-family: Georgia;
}

.header img{
  float: top;
  margin-left: 220px;
  padding-bottom: none;
  margin-bottom: none;
}

.tabs{
  padding-right: none;
  margin-right: none;
}
.tabs li{
  border: solid 1px #C4C4C4;
  border-radius: 10px;
  font-size: 15px;
}
.bottomtabs{
  margin-left: 250px;
  padding-right: none;
}
